com.ntanis.essentials-for-spotify.sdPlugin/LICENSE
com.ntanis.essentials-for-spotify.sdPlugin/THIRD-PARTY-NOTICES.md
com.ntanis.essentials-for-spotify.sdPlugin/THIRD-PARTY-ASSETS.md
com.ntanis.essentials-for-spotify.sdPlugin/bin/
com.ntanis.essentials-for-spotify.sdPlugin/logs/
com.ntanis.essentials-for-spotify.sdPlugin/pi/
com.ntanis.essentials-for-spotify.sdPlugin/com.ntanis.essentials-for-spotify.streamDeckPlugin
node_modules/
TODO
.vscode/
.DS_Store
